* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// body {
    // background-color: #2e364a;
// }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .horizontal-line {
        border: 3px solid gray;
        width: 3%;
    }
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 25px 200px;

    &:after {
        content: "";
        position: absolute;
        height: 100%;
        border-left: 8px dotted black;
        top: 0;
        left: 50%;
        margin-left: -3px;
    }

    .container {
        padding: 10px 30px;
        position: relative;
        width: 50%;

        .text-box {
            // padding: 20px 17px;
            background-color: white;
            position: relative;
            font-size: 15px;
            border-radius: 10px;

            .month {
                width: 150px;
                padding: 5px 20px;
                background: linear-gradient(to right, blue 20%, black 20%);
                color: white;
                font-size: 16px;
                text-align: right;
            }
        }

        &.left-container {
            left: 0;

           
        }

        &.right-container{
            left: 50%;
        }
    }
}